<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216592414998-323g6e4190pk6bt4c71v5cuecpa5rj4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216592414998-323g6e4190pk6bt4c71v5cuecpa5rj4g</string>
	<key>API_KEY</key>
	<string>AIzaSyAQFBG28RVLgW96YDIRKZK-aG3XfqqsYAU</string>
	<key>GCM_SENDER_ID</key>
	<string>216592414998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uzmahanif.plane.simulator.games</string>
	<key>PROJECT_ID</key>
	<string>ios-plane-simulator</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-plane-simulator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:216592414998:ios:7bbca51d5169744635f837</string>
</dict>
</plist>
